@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-link:hover{
  transform: scale(1.2);
  color: #007bff;
}
html {
    font-family: 'Nunito', sans-serif;
}
.p-overlaypanel-content{
  padding: 0px!important;
}
ul.sidebar-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
li.sidebar-item {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-bottom: 30px;
  font-weight: bold;
}
.custom-sidebar{
  width: 250px!important;
}
.sidebar-link {
  text-decoration: none;
  transition: transform 0.2s;
}
.sidebar-link:hover {
  transform: scale(1.2);
  color: #007bff;
}
.navbar {
  height: 90px;
}
.pi, svg, .p-avatar {
  margin-right: 5px;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.2s;
}
.pi:hover, svg:hover, .p-avatar:hover {
  transform: scale(1.2);
  color: #007bff;
}
.cell-link {
  display: block;
  height: 100%;
  width: 100%;
}

.footer {
  background: #1e1d1d;
  color: #ffffff;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  min-width: 200px;
  padding: 20px;
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.icon {
  width: 32px;
  height: 32px;
}

.contact-list {
  list-style: none;
  padding-left: 0;
}


/* Layout */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navbar-icons-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 3vw;
}

.navbar-icons-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3vw;
  gap: 2rem;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  margin-bottom: 1rem;
}

.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.content {
  min-height: 100vh;
  padding-left: 260px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* searchbar.css */

.search-bar-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.search-input {
  border-radius: 50px;
  width: 100%;
  padding-left: 2.5em;
  padding-right: 1em;
}

.search-icon {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: #999;
}

.travel-details-card {
  background-color: white;
  padding-top: 30px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
}

.user-details-card {
  background-color: white;
  padding: 30px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 2;
}

.profile-image {
  width: 60px;
  height: 50px;
  border-radius: 50%;
}

.profile-label {
  font-weight: bold;
}
